/* ---------------------------
        Common-css
-----------------------------*/
body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
/* --------------------------------
          First-Section Area
-----------------------------------*/
.first-section{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.healthy-content{
    width: 50%;
    margin-top: 150px;
    margin-left: 100px;
}
.healthy{
    font-size: 60px;
    color:  #006266;
}
span{
    color: #e58e26;
}
.healthy-content p{
    color: #485460;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
}
.healthy-content a{
    background-image: linear-gradient(orange, #ffc048);
    color: #1e272e;
    font-weight: 900;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 30px #ffc048;
}
.head-image{
    width: 50%;
    margin-right: 50px;
    margin-top: 50px;
}
/* --------------------------------
          second-Section Area
-----------------------------------*/
.second-section{
    background-image: url(image/Frame\ 58.png);
    background-size: cover;
    border-radius: 5px;
}
#about-content{
    width: 35%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 700px;
}
#about-content h2{
    font-size: 35px;
    color: #485460;
}
#about-content p{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 900;
    color: #485460;
    line-height: 30px;
    margin-bottom: 60px;
}
#about-content a{
    background-image: linear-gradient(#FF8008, orange);
    color: #1e272e;
    font-weight: 800;
    padding: 20px 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 30px #ffc048;
}
/* --------------------------------
          3rd-Section Area
-----------------------------------*/
.My-recipies{
    text-align: center;
}
.My-recipies h2{
    font-size: 35px;
    color: #535c68;
    text-transform: capitalize;
    padding-top: 50px;
}
.My-recipies p{
    color: #57606f;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    padding-bottom: 20px;
}
.total-food{
    display: flex;
    justify-content: space-around;
}
.food{
    width: 25%;
    border: 15px solid #fff;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 20px gray;
    margin-bottom: 100px;
}
.food h3{
    font-size: 25px;
    font-weight: 900;
}
/* --------------------------------
          4rd-Section Area
-----------------------------------*/
.fourth-section{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 20px gray;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.fourth-section{
    display: flex;
    justify-content: space-around;
}
.social h1{
    font-size: 50px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.social h5{
    font-size: 17px;
    color: #57606f;
}
/* -------------------------------
        five-section area
---------------------------------*/
.team-members{
    text-align: center;
    color: #2f3640;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    padding-bottom: 30px;
}
.master-chef{
    display: flex;
    justify-content: space-around;
}
.chef{
    width: 20%;
    background-color: #fff;
    border: 10px solid #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 20px gray;
    margin-bottom: 100px;
}
.chef h4{
    text-align: center;
    font-size: 20px;
}
/* --------------------------------
          6th-Section Area
-----------------------------------*/
.six-section{
    background-color: #2f3542;
    border-radius: 5px;
    text-align: center;
}
.network{
    font-size: 35px;
    color: #808e9b;
    padding-top: 30px;
}
.six-section p{
    color: #f1f2f6;
    padding-bottom: 80px;
}
.six-section h5{
    color: #ced6e0;
    padding-bottom: 20px;
}
